<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CineLink</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="stylesheet" href="../static/style.css">

    <script src="static/js/index.js" charset="utf-8" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body id="home-body">

      <div id="poster-parent">
          <div class="img-container">
            <div class="inner"></div>
            <img src="../static/img/1.jpg">
          </div>
          <div class="img-container" >
            <div class="inner"></div>
            <img src="../static/img/2.jpg">
          </div>
          <div class="img-container">
            <div class="inner"></div>
            <img src="../static/img/3.jpg">
          </div>
          <div class="img-container">
            <div class="inner"></div>
            <img src="../static/img/4.jpg">
          </div>
          <div class="img-container">
            <div class="inner"></div>
            <img src="../static/img/5.jpg">
          </div>
          <div class="img-container">
            <div class="inner"></div>
            <img src="../static/img/6.jpg">
          </div>
          <div class="img-container">
            <div class="inner"></div>
            <img src="../static/img/7.jpg">
          </div>
        </div>

      <div id="title-parent">
        <h2 class="title">CineLink</h2>
        <p class="subtext">Test your cinema savvy as you race the clock and clicks</p>
      </div>

      <div class="start-parent">
          <div class="start-container" id="daily-button">
              <p>Daily Challenge</p>
              <div class="start-button">
                  <i class="fa-solid fa-calendar"></i>
              </div>
          </div>
          <div class="start-container" id="chain-button">
              <p>Chain Play</p>
              <div class="start-button">
                  <i class="fa-solid fa-link"></i>
              </div>
          </div>
          <div class="start-container" id="quick-button">
              <p>Quick Play</p>
              <div class="start-button">
                  <i class="fa-solid fa-chevron-right"></i>
              </div>
          </div>
      </div>




  </body>

</html>
